<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>

    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div
        style="direction: rtl;display: flex; justify-content: center; align-items: center;flex-direction: column; font-family: Vazirmatn;">

        <div style=" background-color: #000; width:100%; height: 320px; padding: 40px; display: flex;
        justify-content: center; align-items: center;">

        </div>
        <div
            style="margin-top: -250px;margin-bottom: 30px;max-width: 400px;border-radius: 39px; padding: 50px 30px; ;display: flex;flex-direction: column; align-items: center; text-align: center; border: 1px solid #00000021;box-shadow: 0px 21px 20.7px -18px #2A303C40;background: linear-gradient(180deg, #EBFFF8, #FFFFFF);">
            <img src="https://ace-student-dev.amirhbeigi.ir/email/logo.png" alt="Logo" width="80px" height="80px"
                style="margin-bottom: 5px;">
            <span style="font-size: 18px ;font-weight: 600; margin-bottom: 20px;">پسورد شما با موفقیت تغییر یافت!</span>
            <span style="font-size: 14px;font-weight: 400; opacity: 0.4;margin-bottom: 15px;">درخواست شما برای تغییر
                پسورد حساب کاربریتان، با موفقیت انجام شد و پسورد شما تغییر یافت.</span>
            <span style="font-size: 14px;font-weight: 400;color: #00000066;margin-bottom: 15px;">شما میتوانید به راحتی
                با
                استفاده از این <a style="color:#000; text-decoration: underline;"
                    href="https://ace-student-dev.amirhbeigi.ir/">لینک</a> یا <span style="color:#000;">دکمه زیر</span>،
                به پنل مدیریتی
                خود وارد شوید.</span>
            <a href="https://ace-student-dev.amirhbeigi.ir/"
                style="margin-bottom: 15px;height: 37px; padding: 0 15px; border-radius: 1000px; background: #000; color: #fff; text-decoration: none; font-size: 12px; display: flex; justify-content: center;align-items: center;">ورود
                به پنل
                مدیریت</a>
            <div
                style="background-color: #FBF7EF; padding: 14px;border-radius: 15px; display: flex;flex-direction: column; text-align: right; margin-bottom: 15px;">
                <div style="margin-bottom: 5px;display: flex;align-items: center;">
                    <img src="https://ace-student-dev.amirhbeigi.ir/email/report-icon.png" width="20" height="20"
                        alt="" />
                    <span style="color: #81641A;font-size: 14px;margin-right: 5px;">این درخواست از طرف شما
                        نیست؟</span>
                </div>
                <span style="color: #81641A8C;font-size: 13px;">این کد به وسیله درخواست مرورگر کروم، مک او اس در
                    این درخواست به وسیله درخواست مرورگر کروم، مک او اس در تاریخ ۱۴۰۳/۰۲/۱۲ ارسال شده است. اگر این
                    درخواست از طرف شما نبوده، حتما اقدام به <a href="https://ace-student-dev.amirhbeigi.ir/setting"
                        style="color:#81641A; text-decoration: underline;">تغییر
                        پسورد</a> خود انجام دهید.</span>

            </div>
            <span style="font-size: 14px;opacity: 0.4;">این یک پیام اتوماتیک و ساخته شده است. لطفا پاسخی برای آن
                ارسال
                نکنید.</span>
        </div>
        <div style="display: flex;flex-direction: column; text-align: center;color: #00000066;">
            <div style="display: flex;justify-content: center; margin-bottom: 15px;">
                <img src="https://ace-student-dev.amirhbeigi.ir/email/tiktok.png" width="40" height="40" alt=""
                    style="margin-left: 10px;">
                <img src="https://ace-student-dev.amirhbeigi.ir/email/instagram.png" width="40" height="40" alt=""
                    style="margin-left: 10px;">
                <img src="https://ace-student-dev.amirhbeigi.ir/email/twitter.png" width="40" height="40" alt="">
            </div>
            <span style="font-size: 13px;margin-bottom: 10px;">تمامی حقوق برای پلتفرم تیچرلی محفوظ است. ۲۰۲۴
                ️©️</span>
            <div style="display: flex;">
                <span style="font-size: 13px; margin-left: 10px;">شماره تماس: ۷۲۵۰۸۳۴-۰۲۱</span>
                <span style="font-size: 13px;">ایمیل: Maham@gmail.com</span>
            </div>
        </div>
    </div>

</body>

</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>

    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div
        style="direction: rtl;display: flex; justify-content: center; align-items: center;flex-direction: column; font-family: Vazirmatn;">

        <div style=" background-color: #000; width:100%; height: 320px; padding: 40px; display: flex;
        justify-content: center; align-items: center;">

        </div>
        <div
            style="margin-top: -250px;margin-bottom: 30px;max-width: 400px;border-radius: 39px; padding: 50px 30px; ;display: flex;flex-direction: column; align-items: center; text-align: center; border: 1px solid #00000021;box-shadow: 0px 21px 20.7px -18px #2A303C40;background: linear-gradient(180deg, #EBFFF8, #FFFFFF);">
            <img src="https://ace-student-dev.amirhbeigi.ir/email/logo.png" alt="Logo" width="80px" height="80px"
                style="margin-bottom: 5px;">
            <span style="font-size: 18px ;font-weight: 600; margin-bottom: 20px;">پسورد شما با موفقیت تغییر یافت!</span>
            <span style="font-size: 14px;font-weight: 400; opacity: 0.4;margin-bottom: 15px;">درخواست شما برای تغییر
                پسورد حساب کاربریتان، با موفقیت انجام شد و پسورد شما تغییر یافت.</span>
            <span style="font-size: 14px;font-weight: 400;color: #00000066;margin-bottom: 15px;">شما میتوانید به راحتی
                با
                استفاده از این <a style="color:#000; text-decoration: underline;"
                    href="https://ace-student-dev.amirhbeigi.ir/">لینک</a> یا <span style="color:#000;">دکمه زیر</span>،
                به پنل مدیریتی
                خود وارد شوید.</span>
            <a href="https://ace-student-dev.amirhbeigi.ir/"
                style="margin-bottom: 15px;height: 37px; padding: 0 15px; border-radius: 1000px; background: #000; color: #fff; text-decoration: none; font-size: 12px; display: flex; justify-content: center;align-items: center;">ورود
                به پنل
                مدیریت</a>
            <div
                style="background-color: #FBF7EF; padding: 14px;border-radius: 15px; display: flex;flex-direction: column; text-align: right; margin-bottom: 15px;">
                <div style="margin-bottom: 5px;display: flex;align-items: center;">
                    <img src="https://ace-student-dev.amirhbeigi.ir/email/report-icon.png" width="20" height="20"
                        alt="" />
                    <span style="color: #81641A;font-size: 14px;margin-right: 5px;">این درخواست از طرف شما
                        نیست؟</span>
                </div>
                <span style="color: #81641A8C;font-size: 13px;">این کد به وسیله درخواست مرورگر کروم، مک او اس در
                    این درخواست به وسیله درخواست مرورگر کروم، مک او اس در تاریخ ۱۴۰۳/۰۲/۱۲ ارسال شده است. اگر این
                    درخواست از طرف شما نبوده، حتما اقدام به <a href="https://ace-student-dev.amirhbeigi.ir/setting"
                        style="color:#81641A; text-decoration: underline;">تغییر
                        پسورد</a> خود انجام دهید.</span>

            </div>
            <span style="font-size: 14px;opacity: 0.4;">این یک پیام اتوماتیک و ساخته شده است. لطفا پاسخی برای آن
                ارسال
                نکنید.</span>
        </div>
        <div style="display: flex;flex-direction: column; text-align: center;color: #00000066;">
            <div style="display: flex;justify-content: center; margin-bottom: 15px;">
                <img src="https://ace-student-dev.amirhbeigi.ir/email/tiktok.png" width="40" height="40" alt=""
                    style="margin-left: 10px;">
                <img src="https://ace-student-dev.amirhbeigi.ir/email/instagram.png" width="40" height="40" alt=""
                    style="margin-left: 10px;">
                <img src="https://ace-student-dev.amirhbeigi.ir/email/twitter.png" width="40" height="40" alt="">
            </div>
            <span style="font-size: 13px;margin-bottom: 10px;">تمامی حقوق برای پلتفرم تیچرلی محفوظ است. ۲۰۲۴
                ️©️</span>
            <div style="display: flex;">
                <span style="font-size: 13px; margin-left: 10px;">شماره تماس: ۷۲۵۰۸۳۴-۰۲۱</span>
                <span style="font-size: 13px;">ایمیل: Maham@gmail.com</span>
            </div>
        </div>
    </div>

</body>

</html>